<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" href="/nozomi/assets/bootstrap.min.css">
<link rel="stylesheet" href="/nozomi/assets/nozomi.css">
<script src="/nozomi/assets/bootstrap.min.js"></script>
<link rel="apple-touch-icon" sizes="180x180" href="/nozomi/assets/favicons/apple-touch-icon.png?v=XBJqWW7nbx">
<link rel="icon" type="image/png" sizes="32x32" href="/nozomi/assets/favicons/favicon-32x32.png?v=XBJqWW7nbx">
<link rel="icon" type="image/png" sizes="16x16" href="/nozomi/assets/favicons/favicon-16x16.png?v=XBJqWW7nbx">
<link rel="manifest" href="/nozomi/assets/favicons/site.webmanifest?v=XBJqWW7nbx">
<link rel="mask-icon" href="/nozomi/assets/favicons/safari-pinned-tab.svg?v=XBJqWW7nbx" color="#18be2b">
<link rel="shortcut icon" href="/nozomi/assets/favicons/favicon.ico?v=XBJqWW7nbx">
<meta name="apple-mobile-web-app-title" content="Nozomi">
<meta name="application-name" content="Nozomi">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/nozomi/assets/favicons/browserconfig.xml?v=XBJqWW7nbx">
<meta name="theme-color" content="#ffffff">