<html>
<head>
{% include 'header.html' %}
</head>
<body>
<div class="page">
{% include 'nav.html' %}
<div class="container">
    <h1>Dashboard</h1>
    <br>
        {% if pages %}
    <h2>Pages</h2>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">URL</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
        <tr>
            <th scope="row">{{ page.title }}</th>
            <td>{{ page.name }}</td>
            <td>
                <a href="{{ path_for('editpage', {'name': page.name}) }}">Edit page</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No pages were found on this site.</p>
    {% endif %}
</div>
</div>
{% include 'footer.html' %}
</body>
</html>