<html>
<head>
    {% include 'header.html' %}
    <!-- Main Quill library -->
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

    <!-- Theme included stylesheets -->
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
</head>
<body>

<div class="page">
    {% include 'nav.html' %}
    <div class="container" id="msg" style="font-size:largest;">
        <!-- you can set whatever style you want on this -->
        Loading, please wait...
    </div>
    <div id="editor-container"  style="display:none;" class="container">
        {% if content %}
        <h1>Edit Page</h1>
        {% else %}
        <h1>Create Page</h1>
        {% endif %}
        <div class="form-group">
        <input required class="form-control" id="title" value="{{ title }}" placeholder="Page Title"/>
        </div>
        <div class="form-group">
        <input required class="form-control" id="url" value="{{ name }}" placeholder="Page URL"/>
        </div>
        <div class="form-group">
            <!-- Include CSS for icons. -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

            <!-- Include Editor style. -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
            <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />

            <!-- Create a tag that we will use as the editable area. -->
            <!-- You can use a div tag as well. -->
            <textarea style="height: 80%"></textarea>

            <!-- Include jQuery lib. -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

            <!-- Include Editor JS files. -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>

            <!-- Initialize the editor. -->
            <script>
                $(function() {
                    $('textarea').froalaEditor()
                });
            </script>
        </div>
        <div class="form-group">
            <p>Page template:</p>
            <select id="template">
                {% for template in templates %}
                <option>{{ template }}</option>
                {% else %}
                <option>None</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" id="submit">Submit Page</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#editor-container').show();
        $('#msg').hide();
        $("#submit").click(function(){
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://localhost/nozomi/page/post",
                "method": "POST",
                "headers": {
                    "content-type": "application/x-www-form-urlencoded",
                    "cache-control": "no-cache",
                    "postman-token": "53f41ebf-078d-4794-e411-e715a8e69225"
                },
                "data": {

                    "title": $('#title').val(),
                    "url": $('#url').val(),
                    {% if name %}
                    "original": "{{ name }}",
                    {% endif %}
                    "content": document.querySelector(".ql-editor").innerHTML,
                    "template": $('#template').val()
                }
            }

            $.ajax(settings).done(function (response) {
                window.location.reload();
            });
        });
    });
</script>
</div>
</body>
</html>